@page "{id:int}"
@model PersonalFinanceTracker.Pages.Transactions.DetailsTransactionsModel

@{
    ViewData["Title"] = "Transaction Details";
}

<h1>Transaction Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Date</dt>
        <dd class="col-sm-9">@Model.Transaction.Date.ToShortDateString()</dd>

        <dt class="col-sm-3">Description</dt>
        <dd class="col-sm-9">@Model.Transaction.Description</dd>

        <dt class="col-sm-3">Type</dt>
        <dd class="col-sm-9">@Model.Transaction.Type</dd>

        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@(Model.Transaction.Category?.Name ?? "-")</dd>

        <dt class="col-sm-3">Amount</dt>
        <dd class="col-sm-9">@Model.Transaction.Amount.ToString("C")</dd>
    </dl>
</div>
<div>
    <a asp-page="UpdateTransactions" asp-route-id="@Model.Transaction.Id" class="btn btn-primary">Edit</a>
    <a asp-page="Index" class="btn btn-secondary">Back to list</a>
</div>
